.container-movie {
	margin-top: 5rem;
	margin-right: 3rem;
	margin-left: 3rem;
	margin-bottom: 1rem;
	background-color: grey;
}



img {
	margin-right: 2rem;
	float: left;
	width: 10rem;
	height:15rem ;
}